.intro{
    background-image: url("../assets/bgApi.webp");
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
}

.intro p{
    padding-bottom: 50px;
}

h2 {
    padding: 50px;
}

.opciones a{
    text-decoration: none;
}

.opciones a:hover{
    color: white;
}

.h3Personajes{
    border-bottom: 1px solid #9f3647;
    border-top: 1px solid #9f3647;
}

#personajesRick,
#personajesBob {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#personajesRick > div,
#personajesBob > div {
    flex: 0 1 calc(30% - 20px);
    box-sizing: border-box;
    margin: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
    border-radius: 10px;
}

#personajesRick > div img,
#personajesBob > div img {
    width: 150px;
    height: 250px;
    object-fit: scale-down;
    border-radius: 10px;
    object-position: top;
}

#personajes h4 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
