/* Estilos para la página de registro */
.login {
    background-image: url("../assets/registro.webp");
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.login::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
}

.login form {
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    color: white;
    width: 90%;
    max-width: 400px;
}

.login h2 {
    text-align: center;
    color: white;
    font-size: 2.5rem;
    margin-bottom: 20px;
    z-index: 1;
}

.login form input,
.login form select {
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
}

.login form input[type="checkbox"] {
    margin-right: 10px;
}

.login form label {
    margin-bottom: 10px;
}

.login form .btn-registrarse {
    background-color: #9f3647;
    color: white;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    margin-top: 20px;
}

.login form .btn-registrarse:hover {
    transform: scale(0.95);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
}

.register-message {
    margin-top: 20px;
    color: white;
    font-size: 1rem;
    z-index: 1;
    text-align: center;
}

.register-message a {
    color: #9f3647;
    font-weight: bold;
    text-decoration: underline;
    transition: color 0.3s ease;
}

.register-message a:hover {
    color: white;
}

/* Registro de Peliculas */ 
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-family: "Noto Sans Khojki", Arial, sans-serif;
}


